@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500&display=swap");
@keyframes card-fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes card-hover {
  0% {
    border-radius: 40px;
    box-shadow: none;
    z-index: 0;
  }
  70% {
    border-radius: 0;
    transform: translate(0, 0);
    box-shadow: none;
    z-index: 1;
  }
  100% {
    border-radius: 0;
    transform: translate(10px, -10px);
    box-shadow: -1px 1px #1b1b1b, -2px 2px #1b1b1b, -3px 3px #1b1b1b, -4px 4px #1b1b1b, -5px 5px #1b1b1b, -6px 6px #1b1b1b, -7px 7px #1b1b1b, -8px 8px #1b1b1b, -9px 9px #1b1b1b, -10px 10px #1b1b1b;
    z-index: 1;
  }
}
@keyframes card-hover-reverse {
  0% {
    border-radius: 0;
    transform: translate(10px, -10px);
    box-shadow: -1px 1px #1b1b1b, -2px 2px #1b1b1b, -3px 3px #1b1b1b, -4px 4px #1b1b1b, -5px 5px #1b1b1b, -6px 6px #1b1b1b, -7px 7px #1b1b1b, -8px 8px #1b1b1b, -9px 9px #1b1b1b, -10px 10px #1b1b1b;
    z-index: 1;
  }
  30% {
    border-radius: 0;
    transform: translate(0, 0);
    box-shadow: none;
    z-index: 1;
  }
  100% {
    border-radius: 40px;
    box-shadow: none;
    z-index: 0;
  }
}
html {
  color: #ffffff;
  font-family: "Roboto Mono", monospace;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  text-align: center;
  background: #3b3b3b;
  background-blend-mode: screen, darken;
}

main {
  display: flex;
  flex-direction: column;
  padding: 3vh 5vw;
  animation: card-fade-in 1s ease-in-out;
}

button {
  padding: 20px;
  border: none;
  outline: none;
  background-color: #7ab351;
  color: #23272A;
}

h1 {
  font-size: 2.83rem;
}

h2 {
  font-size: 2.38rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.68rem;
}

h5 {
  font-size: 1.41rem;
}

h6 {
  font-size: 1.19rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.main-header {
  width: max-content;
  margin: 0 auto;
  padding: 40px;
  border-radius: 50px;
  background: #3b3b3b;
  box-shadow: inset 20px 20px 60px #222222, inset -20px -20px 60px #545454;
}
.main-header > * > *:last-child {
  margin-bottom: 0;
}
.main-header > h1 {
  margin-top: 0;
}
.main-header--desc {
  width: max-content;
  margin: 0 auto;
  text-align: left;
}

.blur-bg {
  width: 100%;
  height: 100%;
  filter: blur(10px), brightness(-50%);
}

.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  border: 0.5px solid rgba(27, 27, 27, 0.75);
  border-radius: 40px;
  margin: 20px;
  background: #3b3b3b;
  color: #ffffff;
  overflow: hidden;
  animation: card-hover-reverse 0.25s ease-in-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.card:hover {
  animation: card-hover 0.25s ease-in-out;
  animation-direction: normal;
  animation-fill-mode: both;
}

.card-image {
  width: 100%;
}

.card-desc {
  padding: 30px;
  line-height: 1.5rem;
}

.card-desc--title {
  margin: 0;
  font-size: 1.5rem;
}

.group-vl, .group-hl {
  margin: 0 auto;
  display: flex;
}

.group-hl {
  max-width: 1170px;
  flex-flow: row wrap;
  justify-content: center;
}

.group-vl {
  flex-direction: column;
}

.hub {
  background: #faaa32;
  padding: 3px;
  border-radius: 5px;
}