html
	head
		title Apache2 Success
		link(rel="stylesheet", href="css/main.css")
	body
		main
			.main-header
				.blur-bg
				h1 Local Page
				.main-header--desc
					p Installed (local):
					ul
						li Apache2

			.group-vl
				h2 Debian WSL
				.group-hl
					a(href="http://debian.wsl:80/", target="_blank", rel="noopener noreferrer").card
						img(src="/img/Debian WSL.png", alt="Default Debian WSL Page", srcset="").card-image
						.card-desc
							p.card-desc--title Default Page
							.card-desc--sum
								p Default Apache2 front page on WSL2: Debian

				h3 Debian WSL: Main Project
				.group-hl
					a(href="http://debian.wsl:4499/", target="_blank", rel="noopener noreferrer").card
						img(src="/img/Main Page.png", alt="Main Page", srcset="").card-image
						.card-desc
							p.card-desc--title Main Front Page
							.card-desc--sum
								p Main workspace front Page
								p Location: /home/ketanbasi/

					a(href="http://debian.wsl:4499/project/web_pure/KetanWeb/", target="_blank", rel="noopener noreferrer").card
						img(src="/img/Ketan Web.png", alt="Ketan Web", srcset="").card-image
						.card-desc
							p.card-desc--title Ketan Web
							.card-desc--sum
								p Development Stage
					a(href="http://debian.wsl:4499/project/hexo/ketan-main/", target="_blank", rel="noopener noreferrer").card
						img(src="/img/iketan.png", alt="iketan", srcset="").card-image
						.card-desc
							p.card-desc--title Ketan Web
							.card-desc--sum
								p Main Work Directory
								p Vercel Release: https://s.id/iketan
					a(href="https://s.id/iketan", target="_blank", rel="noopener noreferrer").card
						img(src="/img/iketan.png", alt="iketan", srcset="").card-image
						.card-desc
							p.card-desc--title Ketan Web (View)
							.card-desc--sum
								p View Released iKetan site
								p Released on: Vercel

//- ===================