html
	head
		title Localhost
		link(rel="stylesheet", href="css/main.css")
	body
		main
			.main-header
				.blur-bg
				h1 Localhost
				.main-header--desc
					p Installed on local machine:
					ul
						li Apache2

			.group-vl
				h2 About Me
				.group-hl
					a(href="https://github.com/KetanBasi", target="_blank", rel="noopener noreferrer").card
						img(src="/img/Ketan Github.png", alt="My Github", srcset="").card-image
						.card-desc
							p.card-desc--title Git<span class="hub">hub</span>
							.card-desc--sum
								p Visit my Git<span class="hub">hub</span> page for more
					a(href="https://twitter.com/ketanbasi_sh", target="_blank", rel="noopener noreferrer").card
						img(src="/img/Ketan Twitter.png", alt="My Twitter", srcset="").card-image
						.card-desc
							p.card-desc--title My Twitter Page
							.card-desc--sum
								p
					a(href="https://discord.gg/NGRAX49", target="_blank", rel="noopener noreferrer").card
						img(src="/img/Ketan Discord Server.png", alt="My Discord Server", srcset="").card-image
						.card-desc
							p.card-desc--title Discord
							.card-desc--sum
								p
					a(href="https://instagram.com/ketanbasi.sh", target="_blank", rel="noopener noreferrer").card
						img(src="/img/Ketan Instagram.png", alt="My Instagram Page", srcset="").card-image
						.card-desc
							p.card-desc--title Instagram Page
							.card-desc--sum
								p
					a(href="https://t.me/ketanbasi", target="_blank", rel="noopener noreferrer").card
						img(src="/img/Ketan Telegram.png", alt="My Telegram Account", srcset="").card-image
						.card-desc
							p.card-desc--title Telegram Account
							.card-desc--sum
								p Text me on telegram for faster response

				h2 Debian WSL
				.group-hl
					a(href="http://debian.wsl:80/", target="_blank", rel="noopener noreferrer").card
						img(src="/img/Debian WSL.png", alt="Default Debian WSL Page", srcset="").card-image
						.card-desc
							p.card-desc--title Default httpd
							.card-desc--sum
								p httpd front page
					a(href="http://debian.wsl:4499/", target="_blank", rel="noopener noreferrer").card
						img(src="/img/Main Page.png", alt="Main Page", srcset="").card-image
						.card-desc
							p.card-desc--title Main Front Page
							.card-desc--sum
								p File index w/ h5ai
								p Location: /home/ketanbasi/

				h3 Debian WSL: Main Project
				.group-hl
					a(href="http://debian.wsl:4499/project/web_pure/KetanWeb/", target="_blank", rel="noopener noreferrer").card
						img(src="/img/Ketan Web.png", alt="Ketan Web", srcset="").card-image
						.card-desc
							p.card-desc--title Ketan Web
							.card-desc--sum
								p Development Stage
					a(href="http://debian.wsl:4499/project/hexo/ketan-main/", target="_blank", rel="noopener noreferrer").card
						img(src="/img/iketan.png", alt="iketan", srcset="").card-image
						.card-desc
							p.card-desc--title Ketan Web
							.card-desc--sum
								p Main Work Directory
								p Running on Vercel
					a(href="https://s.id/iketan", target="_blank", rel="noopener noreferrer").card
						img(src="/img/iketan.png", alt="iketan", srcset="").card-image
						.card-desc
							p.card-desc--title Ketan Web (Vercel)
							.card-desc--sum
								p View Released iKetan site
								p https://s.id/iketan

//- ===================